In [1]:
from everything import *

In [2]:
from afinn import Afinn

In [9]:
df = read_csv('europarl-da-sentiment.csv', encoding='utf-8', index_col=0)

In [10]:
df.head()

,valence,text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,0.0,Genoptagelse af sessionen Jeg erklærer Europa-...,NaN,NaN,NaN,NaN,NaN
1,2.0,"Endnu en gang vil jeg ønske Dem godt nytår , o...",NaN,NaN,NaN,NaN,NaN
2,1.0,"Som De kan se , indfandt det store "" år 2000-p...",NaN,NaN,NaN,NaN,NaN
3,-3.0,Til gengæld har borgerne i en del af medlemsla...,NaN,NaN,NaN,NaN,NaN
4,0.0,De har udtrykt ønske om en debat om dette emne...,NaN,NaN,NaN,NaN,NaN

In [14]:
# TODO fix columns 3-7

In [29]:
afinn = Afinn()
scores = []
for idx, row in df.iterrows():
    try: 
        scores.append(afinn.score(row.text))
    except:
        scores.append(nan)

In [33]:
df['afinn'] = scores

In [34]:
df.head()

,valence,text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,afinn
0,0.0,Genoptagelse af sessionen Jeg erklærer Europa-...,NaN,NaN,NaN,NaN,NaN,0.0
1,2.0,"Endnu en gang vil jeg ønske Dem godt nytår , o...",NaN,NaN,NaN,NaN,NaN,1.0
2,1.0,"Som De kan se , indfandt det store "" år 2000-p...",NaN,NaN,NaN,NaN,NaN,-2.0
3,-3.0,Til gengæld har borgerne i en del af medlemsla...,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,De har udtrykt ønske om en debat om dette emne...,NaN,NaN,NaN,NaN,NaN,0.0

In [38]:
indices = df.valence.notnull()

In [44]:
pd.crosstab(df[indices].valence, df[indices].afinn)

afinn    -2.0  -1.0   0.0   1.0   2.0
valence
-3.0        0     0    10     0     0
-2.0        2     0    27     0     0
-1.0        0     0     4     0     0
 0.0        1     0    39     0     0
 1.0        2     1     8     0     0
 2.0        0     0    17     3     0
 3.0        0     0     3     0     1
 9.0        0     0     1     0     0

In [45]:
pd.crosstab(sign(df[indices].valence), sign(df[indices].afinn))

afinn    -1.0   0.0   1.0
valence
-1.0        2    41     0
 0.0        1    39     0
 1.0        3    29     4