In [1]:
from __future__ import division, print_function
from everything import *

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
from afinn import Afinn

In [3]:
df = read_csv('europarl-da-sentiment.csv', encoding='utf-8', index_col=0)

In [4]:
df.head()

   valence                                               text
0      0.0  Genoptagelse af sessionen Jeg erklærer Europa-...
1      2.0  Endnu en gang vil jeg ønske Dem godt nytår , o...
2      1.0  Som De kan se , indfandt det store " år 2000-p...
3     -3.0  Til gengæld har borgerne i en del af medlemsla...
4      0.0  De har udtrykt ønske om en debat om dette emne...

In [5]:
afinn = Afinn(language='da')
scores = []
for idx, row in df.iterrows():
    try: 
        scores.append(afinn.score(row.text))
    except:
        scores.append(nan)

In [6]:
df['afinn'] = scores

In [7]:
df.head()

   valence                                               text  afinn
0      0.0  Genoptagelse af sessionen Jeg erklærer Europa-...   -2.0
1      2.0  Endnu en gang vil jeg ønske Dem godt nytår , o...   10.0
2      1.0  Som De kan se , indfandt det store " år 2000-p...   -2.0
3     -3.0  Til gengæld har borgerne i en del af medlemsla...   -5.0
4      0.0  De har udtrykt ønske om en debat om dette emne...    2.0

In [8]:
indices = df.valence.notnull()

In [9]:
pd.crosstab(df[indices].valence, df[indices].afinn)

afinn,-9.0,-5.0,-4.0,-3.0,-2.0,-1.0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,10.0,12.0,13.0
valence,,,,,,,,,,,,,,,,
-3.0,0,2,1,2,2,1,3,0,0,0,0,0,0,0,0,0
-2.0,1,1,2,2,7,4,12,3,0,2,1,0,0,0,0,0
-1.0,0,0,0,0,1,1,4,0,1,0,0,0,0,0,0,0
0.0,0,0,0,0,4,1,66,7,8,0,0,0,0,0,0,0
1.0,0,0,0,0,1,0,7,3,5,1,0,1,0,0,0,0
2.0,0,0,0,0,0,1,2,0,8,3,2,7,1,1,1,1
3.0,0,0,0,0,0,0,0,0,3,0,0,0,1,1,0,0
9.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [10]:
three_class_confusion_matrix = pd.crosstab(sign(df[indices].valence), sign(df[indices].afinn))
three_class_confusion_matrix

afinn    -1.0   0.0   1.0
valence
-1.0       27    19     7
 0.0        5    66    15
 1.0        2    10    39

In [11]:
print(three_class_confusion_matrix.to_latex())

\begin{tabular}{lrrr}
\toprule
afinn &  -1.0 &   0.0 &   1.0 \\
valence &       &       &       \\
\midrule
-1.0    &    27 &    19 &     7 \\
 0.0    &     5 &    66 &    15 \\
 1.0    &     2 &    10 &    39 \\
\bottomrule
\end{tabular}

In [12]:
accuracy = sum(diag(three_class_confusion_matrix)) / sum(sum(three_class_confusion_matrix))
accuracy

0.6947368421052632