In [1]:
from __future__ import division, print_function
from everything import *

In [2]:
from afinn import Afinn

In [3]:
df = read_csv('europarl-da-sentiment.csv', encoding='utf-8', index_col=0)

In [4]:
df.head()

,valence,text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,0,Genoptagelse af sessionen Jeg erklærer Europa-...,NaN,NaN,NaN,NaN,NaN
1,2,"Endnu en gang vil jeg ønske Dem godt nytår , o...",NaN,NaN,NaN,NaN,NaN
2,1,"Som De kan se , indfandt det store "" år 2000-p...",NaN,NaN,NaN,NaN,NaN
3,-3,Til gengæld har borgerne i en del af medlemsla...,NaN,NaN,NaN,NaN,NaN
4,0,De har udtrykt ønske om en debat om dette emne...,NaN,NaN,NaN,NaN,NaN

In [5]:
# TODO fix columns 3-7

In [6]:
afinn = Afinn(language='da')
scores = []
for idx, row in df.iterrows():
    try: 
        scores.append(afinn.score(row.text))
    except:
        scores.append(nan)

In [7]:
df['afinn'] = scores

In [8]:
df.head()

,valence,text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,afinn
0,0,Genoptagelse af sessionen Jeg erklærer Europa-...,NaN,NaN,NaN,NaN,NaN,-2
1,2,"Endnu en gang vil jeg ønske Dem godt nytår , o...",NaN,NaN,NaN,NaN,NaN,10
2,1,"Som De kan se , indfandt det store "" år 2000-p...",NaN,NaN,NaN,NaN,NaN,-2
3,-3,Til gengæld har borgerne i en del af medlemsla...,NaN,NaN,NaN,NaN,NaN,-5
4,0,De har udtrykt ønske om en debat om dette emne...,NaN,NaN,NaN,NaN,NaN,2

In [9]:
indices = df.valence.notnull()

In [10]:
pd.crosstab(df[indices].valence, df[indices].afinn)

afinn,-9.0,-5.0,-4.0,-3.0,-2.0,-1.0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,10.0,12.0,13.0
valence,,,,,,,,,,,,,,,,
-3,0,2,1,2,2,1,2,0,0,0,0,0,0,0,0,0
-2,1,1,1,2,5,4,10,3,0,2,0,0,0,0,0,0
-1,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
0,0,0,0,0,2,1,30,3,4,0,0,0,0,0,0,0
1,0,0,0,0,1,0,3,1,4,1,0,1,0,0,0,0
2,0,0,0,0,0,0,2,0,5,2,2,5,1,1,1,1
3,0,0,0,0,0,0,0,0,2,0,0,0,1,1,0,0
9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [11]:
three_class_confusion_matrix = pd.crosstab(sign(df[indices].valence), sign(df[indices].afinn))
three_class_confusion_matrix

afinn    -1   0   1
valence
-1       22  16   5
 0        3  30   7
 1        1   6  29

In [12]:
print(three_class_confusion_matrix.to_latex())

\begin{tabular}{lrrr}
\toprule
afinn &  -1 &   0 &   1 \\
valence &     &     &     \\
\midrule
-1      &  22 &  16 &   5 \\
 0      &   3 &  30 &   7 \\
 1      &   1 &   6 &  29 \\
\bottomrule
\end{tabular}

In [13]:
accuracy = sum(diag(three_class_confusion_matrix)) / sum(sum(three_class_confusion_matrix))
accuracy

0.68067226890756305